{
  "$schema": "https://github.com/Azure/Azure-Sentinel/blob/master/schemas/sentinelDeployment.schema.json",
  "name": "Mein-Sentinel-Repo",
  "description": "Deployment aller Inhalte (Analytics, Parsers, Playbooks, usw.) aus meinem GitHub-Fork.",
  "version": "1.0.0",
  "workbooks": {
    "basePath": "Workbooks",
    "deploy": "all"
  },
  "analytics": {
    "basePath": "Detections",
    "deploy": "all"
  },
  "automationRules": {
    "basePath": "AutomationRules",
    "deploy": "all"
  },
  "huntingQueries": {
    "basePath": "HuntingQueries",
    "deploy": "all"
  },
  "parsers": {
    "basePath": "Parsers",
    "deploy": "all"
  },
  "playbooks": {
    "basePath": "Playbooks",
    "deploy": "all"
  },
  "metadata": {
    "basePath": "Metadata",
    "deploy": "all"
  }
}
