{
  "$schema": "https://aka.ms/sentinelDeploymentSchema",
  "contentProductName": "CustomSentinelDeployment",
  "contentPublisherId": "my-organization-id-or-name",
  "packages": [
    {
      "name": "AllCustomContent",
      "version": "1.0.0",
      "content": {
        "analyticsRules": {
          "basePath": "AnalyticsRules"
        },
        "automationRules": {
          "basePath": "AutomationRules"
        },
        "huntingQueries": {
          "basePath": "HuntingQueries"
        },
        "parsers": {
          "basePath": "Parsers"
        },
        "playbooks": {
          "basePath": "Playbooks"
        },
        "workbooks": {
          "basePath": "Workbooks"
        }
      }
    }
  ]
}
